body {
	overflow: hidden;
	height: 100vh;
	color: #fafafa;
}

#particles-js
{
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: 50% 50%; 
}

.main-content {
	position: absolute;
	height: 100%;
	width: 100%;
}

.s-google {
	width: 20% !important;
}

.social i {
	color: #fafafa;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.s-google {
		width: 50% !important;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.s-google {
		width: 35% !important;
	}
}

.gred {
	color: #DB4437 !important;
}

.ggreen {
	color: #0F9D58 !important;
}

.gyellow {
	color: #F4B400 !important;
}

.gblue {
	color: #4285F4 !important;
}

.fa-heart {
	color: red;
}

.pulse {
	-webkit-animation: pulse 1s linear infinite;
	-moz-animation: pulse 1s linear infinite;
	-ms-animation: pulse 1s linear infinite;
	animation: pulse 1s linear infinite;
}

@keyframes "pulse" {
 0% {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }

}

@-moz-keyframes pulse {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "pulse" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }
